.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
}
.input-box{
    margin-bottom: 10px;
}
.input-box input{
    padding: 7.5px 15px;
    width: 30%;
    border: 1px solid #cccccc;
    outline: none;
}
.button-box{
    text-align: middle;
    margin-top: 30px;
}
.button-box button{
    padding: 7.5px 15px;
    border-radius: 6px;
    width:32.5%;
    background-color: #06a729;
    color: #ffffff;
    border: none;
    outline: none;
}

h1 {
    font-size: 25px;
    font-family: arial;
    padding-left: 10px;
}

h4{
    font-family: arial;
    padding-left: 30px;
}

.member{
    float: left;
  width: 30%;
  margin-bottom: 16px;
  margin-left: 180px; 
  padding: 0 18px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(95, 66, 66, 0.2);
    transition: 0.5s ease;
    cursor: pointer;
    background-color: #ffffff;
  }

  .container {
    padding: 20px 35px;

  }

  .image{
      width: 100%;
  }

  #head{
      text-align: center;
      font-size: 80px;
      font-family: western;
  }

  .name{
      font-size: 25px;
      font-weight: bold;
  }

  @font-face{
      font-family: western;
      src: url(Señorita\ Esmeralda.otf);
  }

  #number{
      font-size: 100px;
      font-weight: bold;
      text-align: center;
      font-family: Arial;
      margin: auto;
  }

  #letter{
    font-family: arial;
    text-align: center;
    margin: auto;
    font-size: 32px;
  }